*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%; /* Assurez-vous que le root prend toute la hauteur */
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family:  'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f1f1f1; /* Exemple de style pour le header */
  padding: 1rem;
}

footer {
  background-color: #f1f1f1; /* Exemple de style pour le footer */
  padding: 1rem;
  text-align: center;
  margin-top: auto; /* Permet au footer d'être en bas */
}

main {
  flex: 1; /* Permet à main de prendre tout l'espace disponible entre le header et le footer */
  padding: 2rem;
}
