.accueil {
/*Banner*/
    &__container {
        height: 200px;
        border-radius: 25px;
        background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/img/imgAccueil.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: white;
        }
    }
/*Annonces*/
    &__annonce {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px; 
        width: 100%;
        background-color: #F6F6F6;
        border-radius: 25px;
        margin: 20px auto;
        padding: 50px;
    }
}

@media screen and (max-width: 1250px) {
    .accueil {
        &__container {
            padding: 20px;
        }
        
        &__annonce {
            grid-template-columns: repeat(1,1fr);
            padding: 0;
        }
    }
    
}