@import 'Variable';

//Contenu de l'annonce en dessous du carrousel
.annonce {

    &__box {
        display: flex;
        gap: 70px;

//Partie gauche du container 

        &__container-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;

            h1 {
                color: $red;
                font-weight: 500;
                margin-top: 0;
            }

            &__tag {
                display: flex;
                gap: 10px;
                margin: 20px 0;
            }

            .dropDownAnnonces {
                width: 600px;
            }

            > :last-child {
                margin-bottom: 0;
            }
        }
  
//Partie droit du container 

        &__container-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 50%;
            height:auto;

            &__profil {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $red;
                font-size: 18px;
                margin-top: 0;

                img {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }

            &__star {
                margin: 20px 0;
                @media screen and (max-width: 1250px) {
                    img {
                    width: 28px;
                    height: 28px; 
                    }
                }
            }

            > :last-child {
                margin-bottom: 0;
            }

            .dropDownAnnonces {
                width: 600px;
                ul {
                    list-style: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .annonce {
        &__box {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__container-left {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
            }
        }

        &__mobile-container {
            display: flex;
            justify-content: space-between;

        }

        &__dropdowns {
            display: flex;
            flex-direction: column;
            gap: 20px;

            ul {
                list-style: none;
            }
        }
    }
}